@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url('/font/Poppins-Regular.woff2') format('woff2'),
    url('/font/Poppins-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.navbar {
  background-image: url('/images/navImage.png');
  width: 100%;
}

body {
  background-color: #9da993;
  width: 100vw;
}

html * {
  font-size: 1em;
  font-family: Poppins-Regular;
  color: #353621;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.5rem;
  color: #353621;
}

.userImage {
  width: 400px;
  height: 300px;
  border-radius: 100%;
}

.navImage img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 50%;
}
.tableContainer {
  width: 100%;
}

.listTitle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.inputImage {
  height: 20px;
  height: 30px;
}
table {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.listTitle {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.columnName {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.column {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
}

.rowName {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
}
.row {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
}

button {
  color: #9da993;
  background-color: #353621;
  height: 3rem;
  width: 6rem;
  border: none;
  margin: 0.5rem;
}

button:hover {
  box-shadow: #353621 2px -2px 2px 2px;
}

@media only screen and (min-width: 1024px) {
  .tableContainer {
    border: #353621 solid 2px;
  }
}
