@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url('../font/Poppins-Regular.woff2') format('woff2'),
    url('../font/Poppins-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.navbar {
  background-image: url('/images/navImage.png');
  width: 100%;
}

body {
  background-color: #9da993;
  font-size: 1em;
  font-family: Poppins-Regular;
  color: #353621;
  width: 100vw;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.5rem;
  color: #353621;
}

.userImage {
  width: 240px;
  height: 200px;
}

.navImage img {
  width: 60px;
  height: 80px;
  object-fit: cover;
}
.inputImage {
  height: 10px;
  height: 15px;
}

.alertText {
  color: tomato;
}

.table {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
}

.tableContainer {
  border: #353621 solid 2px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.containerToday {
  display: flex;
  flex-direction: column;
}
.taskTodayContainer {
  border: #353621 solid 2px;
  margin-bottom: 1rem;
  width: inherit;
}

.listTitle {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.columnName {
  border-bottom: 2px solid #353621;
}

.column {
  font-size: 0.8rem;
}
td {
  font-size: 0.8rem;
}

button {
  color: #dee0dc;
  background-color: #353621;
  height: 3rem;
  width: 6rem;
  border: none;
  margin: 0.5rem;
}

button:hover {
  box-shadow: #353621 2px -2px 2px 2px;
}

.todaysTaskTitle {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.taskToday {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #353621;
}
.taskTodayRow {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  .inputImage {
    height: 20px;
    height: 20px;
  }

  .tableContainer {
    width: 100%;
    border: #353621 solid 2px;
    margin-top: 1rem;
  }
  .listTitle {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .columnName {
    border-bottom: 2px solid #353621;
  }
  .column {
    margin: 1rem;
    margin-bottom: 0;
  }
  table {
    width: 100%;
  }
  .listForm {
    width: 90%;
  }

  .taskTodayContainer {
    width: 70%;
    border: #353621 solid 2px;
    margin-top: 1rem;
  }

  .todaysTaskTitle {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
}
